@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root,
:root.color {
  --bg-color: #f9f7f7;
}

* {
  padding: 0;
  margin: 0;
}

/*css nav */
.container-nav {
  width: 100%;
  height: 9.7rem;
  background-color: var(--bg-color);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
  margin-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container-nav .container-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
}
.container-nav .container-column .logo {
  width: 55%;
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container-nav .container-column .logo img {
  width: 132.86px;
  height: 132px;
  left: 162.93px;
  cursor: pointer;
  top: 13px;
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.container-nav .container-column .logo p {
  margin-left: 1rem;
  margin-top: 1rem;
  top: 13px;
  border-left: 5px solid rgba(27, 38, 44, 0.7);
  padding: 20px 0 20px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 275;
  color: #1b262c;
  font-size: 20px;
  font-style: normal;
}

.container-nav .container-column .options-nav {
  width: 45%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.container-nav .container-column .options-nav ul {
  padding: 0;
  margin: 3rem 0 0 0;
}

.container-nav .container-column .options-nav ul li {
  padding: 1px;
  padding-bottom: 10px;
  margin-left: 2em;
  list-style: none;
  display: inline;
  font-weight: 300;
  box-sizing: border-box;
  border-bottom: 5px solid #cd495d;
}
.container-nav .container-column .options-nav ul li:first-child {
  margin-left: 0;
}
.container-nav .container-column .options-nav ul li:hover {
  border-bottom: 5px solid #3f72af;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container-nav .container-column .options-nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  padding: 30px 15px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container-nav .container-column .options-nav ul li a:hover,
.container-nav .container-column .options-nav ul li a:focus,
.container-nav .container-column .options-nav ul li a:active {
  color: black;
  font-weight: 450;
}
/*icono*/
.checkbtn {
  font-size: 30px;
  color: rgb(34, 33, 33);
  line-height: 57px;
  margin-right: 0px;
  margin-top: 20px;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*nav responsive*/

@media (max-width: 1285px) {
  .container-nav .container-column .logo p {
    font-size: 12px;
    font-weight: 500;
  }
}
@media (max-width: 958px) {
  .container-nav .container-column .logo p {
    font-size: 10px;
    font-weight: 500;
  }
  .container-nav .container-column .logo {
    flex-wrap: nowrap;
  }
}

@media (max-width: 852px) {
  .container-nav {
    height: 6.5rem;
  }
  .container-nav .container-column {
    height: auto;
    padding-left: 5%;
    padding-right: 0;
    flex-wrap: nowrap;
  }
  .container-nav .container-column .logo {
    padding-top: 2px;
    flex-direction: row;
    width: 85%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .container-nav .container-column .logo img {
    width: 72.86px;
    height: 72px;
  }
  .container-nav .container-column .logo p {
    border-left: 3px solid rgba(27, 38, 44, 0.7);
    padding: 10px 0 10px 10px;
    font-weight: 300;
    font-size: 15px;
  }
  .container-nav .container-column .options-nav {
    width: 10%;
    flex-wrap: nowrap;
  }

  .checkbtn {
    display: block;
  }
  .container-nav .container-column .options-nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #334257;
    z-index: 3;
    top: 3rem;
    left: -100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    transition: all 0.5s;
    padding-bottom: 10px;
  }
  .container-nav .container-column .options-nav ul li {
    display: block;
    text-align: center;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    border-bottom: none;
    padding: 1rem;
  }
  .container-nav .container-column .options-nav ul li a {
    font-weight: 300;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.807);
  }
  .container-nav .container-column .options-nav ul li:hover {
    border-bottom: none;
    filter: none;
  }
  .container-nav .container-column .options-nav ul li a:hover,
  .container-nav .container-column .options-nav ul li a:focus,
  .container-nav .container-column .options-nav ul li a:active {
    color: #fff;
    font-weight: 450;
  }
  #check:checked ~ .options-nav ul {
    left: 0;
  }
}

/*css nav end*/

/*css intro*/
.intro {
  width: 100%;
  height: 85vh;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.img-intro {
  width: 45%;
  float: right;
  height: 85vh;
  position: absolute;
  background-image: linear-gradient(
      rgba(171, 173, 177, 0.5),
      rgba(4, 9, 30, 0.5)
    ),
    url(../static/img/intro.jpg);
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.text-intro {
  width: 55%;
  float: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.text-intro h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.05em;
  color: #1b262c;
  mix-blend-mode: normal;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  margin-top: 15%;
  margin-left: 20%;
  padding: 0px 0 10px 40px;
  border-left: 10px solid #3f72af;
}
.text-intro-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 36px;
  line-height: 54px;
  text-align: right;
  color: #262626;
  margin-top: 6%;
  margin-left: 38%;
  padding: 0 20px 0 0;
  border-right: 6px solid #e23e57;
}
/*intro responsive*/
@media (max-width: 852px) {
  .intro {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 65vh;
  }
  .img-intro {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-intro {
    width: 100%;
  }
  .text-intro h1 {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2em;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-left: 4px solid #3f72af;
    margin-top: 15%;
    margin-left: 10%;
    padding: 0px 0 10px 10px;
  }
  .text-intro-des {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5%;
    margin-left: 48%;
    border-right: 3px solid #e23e57;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 10px 10px 0;
  }
}
/*css intro end*/

/*css info*/
.info {
  width: 100%;
  height: 75vh;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.info h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 105px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #222222;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.info .text {
  display: flex;
  align-items: center;
  padding: 2rem 25% 0 25%;
}
.info p {
  font-family: "Poppins";
  padding: 1rem 0 1rem 3rem;
  font-weight: 300;
  font-size: 25px;
  line-height: 60px;
  /* or 171% */
  display: flex;
  align-items: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 6px solid #0f4c75;
}
/*info responsive*/
@media (max-width: 852px) {
  .info {
    align-items: center;
    justify-content: flex-start;
    padding-top: 20%;
    height: 62vh;
  }
  .info h2 {
    font-size: 30px;
    line-height: 10px;
    letter-spacing: 0.1em;
    color: #222222;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  }
  .info .text {
    padding: 3rem 10% 0 10%;
  }
  .info p {
    padding: 0.1rem 0 1rem 2rem;
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 3px solid #0f4c75;
  }
}
/*css info end*/

/*css autores*/
.autores {
  width: 100%;
  height: 75vh;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.autores .titulo-autor {
  display: flex;
  align-items: center;
  padding: 4% 0 0 25.2%;
}
.autores .titulo-autor h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 6px solid #e23e57;
  padding-left: 3rem;
}
.autores .container-autor {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6%;
}
.card-autor {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10%;
}
.card-autor .img-autor {
  position: absolute;
  background-color: #cd495d;
  width: 172px;
  height: 161px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  top: 0px;
}
#dr1 {
  background-image: url("./img/dr1.png");
  background-size: cover;
}
#dr2 {
  background-image: url("./img/dr2.png");
  background-size: cover;
}
#dr3 {
  background-image: url("./img/dr3.png");
  background-size: cover;
}
.card-autor .text-autor {
  position: absolute;
  background: linear-gradient(90deg, #175985 3.44%, #4387b5 90.45%);
  width: 264px;
  height: 200px;
  top: 30%;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  display: flex;
  padding-top: 20%;
  justify-content: center;
}

.card-autor .text-autor h3 {
  color: #f9f7f7;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  line-height: 38px;
  transition: 0.5s;
}
.card-autor .text-autor h3:hover {
  font-weight: 200;
}
/*autores responsive*/
@media (max-width: 1593px) {
  .card-autor {
    padding-left: 12%;
  }
  .card-autor .text-autor {
    top: 25%;
    padding-top: 35%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-autor .text-autor h3 {
    font-size: 18px;
  }
}
@media (max-width: 1255px) {
  .card-autor {
    padding-left: 15%;
  }
  .card-autor .text-autor h3 {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .card-autor .text-autor {
    width: 214px;
    height: 150px;
    top: 30%;
    padding-top: 20%;
  }
  .card-autor .img-autor {
    width: 112px;
    height: 101px;
  }
}

@media (max-width: 852px) {
  .autores {
    flex-wrap: wrap;
    height: 85vh;
  }

  .autores .titulo-autor {
    padding: 0% 0 0 25.2%;
  }
  .autores .titulo-autor h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-left: 3px solid #e23e57;
    padding-left: 1.5rem;
  }
  .autores .container-autor {
    padding-top: 5%;
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .card-autor {
    flex-wrap: nowrap;
    padding: 5%;
    padding-top: 30%;
  }
  .card-autor .img-autor {
    width: 122px;
    height: 111px;
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
  }
  .card-autor .text-autor {
    width: 204px;
    height: 140px;
    top: 25%;
    border-radius: 33px;
    padding-top: 120%;
    padding-top: 100%;
  }
  .card-autor .text-autor h3 {
    color: #f9f7f7;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
  }
}
@media (max-width: 768px) {
  .autores {
    height: 90vh;
  }
  .card-autor {
    padding-top: 23%;
  }
  .card-autor .text-autor h3 {
    line-height: 23px;
  }
  .card-autor .text-autor {
    padding-top: 90%;
  }
}
@media (max-width: 593px) {
  .autores {
    height: 80vh;
  }
  .card-autor {
    padding-top: 33%;
  }
}
@media (max-width: 500px) {
  .autores {
    height: 80vh;
  }
  .card-autor {
    padding-top: 47%;
  }
  .card-autor .text-autor {
    /*padding-top: 120%;*/
    justify-content: flex-end;
  }
  .card-autor .text-autor h3 {
    font-size: 13px;
    line-height: 17px;
    margin-top: 15%;
  }
}
@media (max-width: 500px) {
  .autores {
    height: 90vh;
  }
}

/*css autores end*/
/* css footer*/
.footer {
  width: 100%;
  height: 290px;
  background: linear-gradient(268.27deg, #8a1e1e 0.59%, #334257 46.46%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.logo-umsa {
  background-image: url("./img/umsa.png");
  width: 83px;
  height: 166px;
  background-size: cover;
  background-position: center;
  margin-left: 11%;
}
.text-footer h3 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-left: 12.65%;
  color: #ffffff;
  width: 731px;
}
.logo-medicina {
  width: 138px;
  height: 141px;
  background-image: url("./img/logo2.png");
  background-size: cover;
  background-position: center;
  margin-left: 31.37%;
}
.footer-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.footer-end h4 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.64);
}

/* css footer responsive*/
@media (max-width: 1650px) {
  .logo-medicina {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 14.37%;
  }
  .logo-umsa {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (max-width: 852px) {
  .footer {
    height: 160px;
  }
  .footer .footer-info {
    flex-wrap: wrap;
  }
  .logo-umsa {
    width: 43px;
    height: 126px;
    margin-left: 11%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .text-footer h3 {
    font-weight: 300;
    font-size: 8px;
    line-height: 15px;
    width: 290px;
  }
  .logo-medicina {
    width: 78px;
    height: 81px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 12.37%;
  }
  .footer-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  .footer-end h4 {
    font-size: 12px;
    line-height: 1px;
  }
}
@media (max-width: 592px) {
  .footer .footer-info {
    flex-wrap: nowrap;
  }
  .logo-umsa {
    width: 43px;
    height: 126px;
    margin-left: 11%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .text-footer h3 {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    width: 230px;
  }
  .footer-end h4 {
    font-size: 9px;
  }
}
/* css footer end*/
.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../static/img/loader.gif") center no-repeat #fff;
}

<<<<<<< HEAD
#pruebaestilo {
  color:red;
=======
/* slide css*/
#contenido{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}


#containerslide {
  background: rgb(34, 87, 126);
  background: linear-gradient(
    180deg,
    rgba(34, 87, 126, 1) 20%,
    rgba(85, 132, 172, 1) 100%
  );
}
#inicio {
  font-size: 60px;
  font-family: "Poppins";
  font-weight: 200;
  text-align: center;
}
#cardtitulo{
  font-size: 70px;
  font-family: "Poppins";
  font-weight: 300;
  color: #1B262C;
  text-align: center;
  padding: 2%;
}
#cardcontenido{
  font-size: 20px;
  padding: 6%;
  font-weight: 400;
  font-family: "Poppins";
}
#cardcontenido{
  overflow-wrap: break-word;
}
@media (max-width: 592px) {
  #containerslide {
   width: 30%;
  }

  #cardtitulo {
    font-size: 30px;
  }
  #cardcontenido{
    font-size: 16px;
  }
>>>>>>> e70961456d40343d8433ca74c20d72a9657cb7d8
}