<div class="container-nav">
  <div class="container-column">
    <div class="logo">
      <div><img src="../static/img/logo2.png" alt="" /></div>
      <div>
        <p id="navtext"></p>
      </div>
    </div>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="bi bi-three-dots-vertical"></i>
    </label>
    <div class="options-nav">
      <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'show' pk=1 %}">Menú</a></li>
      </ul>
    </div>
  </div>
</div>
