<p align="justify">
    <h1>Prólogo</h1>
    <br>
     En pocas oportunidades se tienen satisfacciones como la que ahora se me
        presenta para resaltar un precioso material interactivo la del
        aprendizaje de la histología, elaborado por el Dr. Marco Aliaga, un
        médico joven, que de esta manera muestra sus potencialidades para la
        academia y ciencia, y de quien me enorgullezco haber sido su
        colaborador en este emprendimiento.
        <br>
        <br>
        Es un hito para la historia de la Facultad porque el material se ha
        producido en la Cátedra, con fotografías obtenidas de las laminillas
        creadas por nuestras histotecnólogas y que tiene el objetivo de
        facilitar el aprendizaje y la enseñanza de estudiantes y
        académicos.
        <br>
        <br>
        Lo interesante, es que con este medio interactivo pretendemos promover
        el aprendizaje independiente y el uso de las nuevas tecnologías en
        sustitución del microscopio, al que le quedan reservadas otras
        funciones. De esta manera, el estudiante podrá aprender histología sin
        necesidad de contar con un microscopio facilitando las tareas de los
        docentes.
        <br>
        <br>
        Guido Zambrana <br>
        DECANO

</p>
