<!--Obtenido de https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb-->

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="{% url 'home' %}"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline" id="pruebaestilo">Inicio</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          {% for elemento in principal %}
          {% if elemento.ele_id_elemento == None %}
          <li class="nav-item">
            <a
              href=
              {% if elemento.id_elemento != 1 %}
              "#submenu{{ elemento.id_elemento }}"
              data-bs-toggle="collapse"
              {% else %}
              "{% url 'show' pk=elemento.id_elemento %}"
                  hx-get="{% url 'refreshContent' pk=elemento.id_elemento %}"
                  hx-trigger="click"
                  hx-target="#contenido"

              {% endif %}
              class="nav-link align-middle px-0"
            >
              <i class="fs-4 bi-bookshelf"></i>
              <span class="ms-1 d-none d-sm-inline">{{ elemento.nombre }}</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu{{ elemento.id_elemento }}"
              data-bs-parent="#menu"
            >
              {% for item in principal %}
              {% if item.ele_id_elemento.id_elemento == elemento.id_elemento %}
              <li>
                <a
                  href=
                  {% if item.id_elemento > 27 %}
                  "{% url 'refreshContent' pk=item.id_elemento %}"
                  hx-get="{% url 'refreshContent' pk=item.id_elemento %}"
                  hx-trigger="click"
                  hx-target="#contenido"
                  {% else %}
                  "#submenu{{ elemento.id_elemento }}sub{{ item.id_elemento }}"
                  data-bs-toggle="collapse"
                  {% endif %}
                  class="nav-link px-0"
                  ><i class="fs-4 bi-book"></i>
                  <span class="d-none d-sm-inline">{{ item.nombre }}</span></a
                >
                <ul
                  class="collapse nav flex-column ms-1"
                  id="submenu{{ elemento.id_elemento }}sub{{ item.id_elemento }}"
                  data-bs-parent="#submenu{{ elemento.id_elemento }}"
                >
                  {% for elem in principal %}
                  {% if elem.ele_id_elemento.id_elemento == item.id_elemento %}
                  <li class="w-100">
                    <a
                      href=
                      "{% url 'refreshContent' pk=elem.id_elemento %}"
                      hx-get="{% url 'refreshContent' pk=elem.id_elemento %}"
                      hx-trigger="click"
                      hx-target="#contenido"                   
                      class="nav-link px-0"
                    >
                      <i class="fs-4 bi-circle"></i>
                      <span class="d-none d-sm-inline">{{ elem.nombre }}</span
                      ></a
                    >
                  </li>
                  {% endif %} {% endfor %}
                </ul>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <hr />
      </div>
    </div>
    {% block focuscontent %}
    <div class="col py-3" id="contenido">
        {% include 'content.html' %}
    </div>
    {% endblock focuscontent %}
  </div>
</div>
