<!-- Extraido de la pagina https://www.codeply.com/go/q0b6ILuRyx/bootstrap-4-vertical-sidebar-nav-with-submenu -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                {% for elemento in principal %}
                {% if elemento.ele_id_elemento == None %}
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate"
                        href="#submenu{{elemento.id_elemento}}"
                        data-toggle="collapse"
                        data-target="#submenu{{elemento.id_elemento}}">
                        <i class="fa fa-table"></i>
                        <span class="d-none d-sm-inline">{{elemento.nombre}}</span>
                    </a>
                    <div class="collapse" id="submenu{{elemento.id_elemento}}"
                        aria-expanded="false">
                        <ul class="flex-column pl-2 nav">    
                            {% for item in principal %}
                            {% if item.ele_id_elemento.id_elemento == elemento.id_elemento %}
                            <li class="nav-item">
                                <a class="nav-link text-truncate collapsed py-1"
                                    href="#submenu{{elemento.id_elemento}}sub{{item.id_elemento}}" data-toggle="collapse"
                                    data-target="#submenu{{elemento.id_elemento}}sub{{item.id_elemento}}">
                                    <span>{{item.nombre}}</span>
                                </a>

                                <div class="collapse"
                                    id="submenu{{elemento.id_elemento}}sub{{item.id_elemento}}"
                                    aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        {% for elem in principal %}
                                        {% if elem.ele_id_elemento.id_elemento == item.id_elemento%}
                                        <li class="nav-item">
                                            <a class="nav-link p-1 text-truncate" href="#">
                                                <i class="fa fa-fw fa-clock-o"></i>
                                                {{elem.nombre}} </a>
                                        </li>

                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% block focuscontent %}
{% include 'content.html' %}
{% endblock focuscontent %}
</div>
</div>
</div>
